@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://app.snipsbasketball.com/storage/general/slide-1.webp");
  background-position: 50% 50%;
}

.hero-section {
  position: relative;
  padding: 30px 0px 30px 50px;
  background-image: url("https://app.snipsbasketball.com/storage/general/banner.jpg");
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-style-2 {
  color: #ffffff;
  font-size: 70px !important;
  font-weight: bold !important;
}

.hero-text-box h3 {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Bebas Neue', sans-serif;

}

.hero-text-box h2 span.line2{
  margin-top: -15px;
}
.hero-text-box h2 span {
  
  font-weight: 500;
  font-size: 92px;
  line-height: 84px;
  padding: 8px 10px 2px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  background-color: red;
}
h2.hero-text-style-2{
  margin-bottom: 4px!important;

}
.hero-text-box h3{
  padding-left: 11px!important;
  line-height: 60px;
}
.hero-text-style-1 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: .91 !important;
  color: #ffffff !important;
}

.hero-text-box-bottom .hero-text-style-1 {
  margin-left: 16px;
  margin-top: 0.39em !important;
}

.text-primary1 {
  color: #FA311F !important;
}

.hero-text-style-1.text-primary1 {
  font-size: 64px !important;
}

.hero-text-box p {
  color: #fff;
}

.hero-text-style-1 {
  font-size: 50px;
}

.context-dark .btn-primary,
.bg-gray-700 .btn-primary,
.bg-gray-800 .btn-primary,
.bg-primary .btn-primary {
  color: #ffffff;
}


.btn-primary {
  background-color: transparent;
  color: #4C4D4F;
}

.btn::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: inherit;
  transition: left .2s ease-in-out, width .1s linear, height .1s linear;
  z-index: -1;
  pointer-events: none;
}

.go_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 60px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-animation: bb_bounce 1s infinite;
  -moz-animation: bb_bounce 1s infinite;
  -ms-animation: bb_bounce 1s infinite;
  animation: bb_bounce 1s infinite;
  z-index: 999999;
}


.vote-team td {
  color: #000;
}

.vote-team {
  border: 1px solid #ddd;
  /* Set the border style, color, and width as needed */
  border-collapse: collapse;
  /* Collapse borders into a single border */
  margin-top: 20px;
  /* Adjust the margin as needed */
}

.vote-team table {
  width: 100%;
  /* Make the table take the full width of its container */
}

.vote-team th,
.vote-team td {
  border: 1px solid #ddd;
  /* Set the border style, color, and width for table cells */
  padding: 8px;
  /* Add padding to the cells for better spacing */
  text-align: center;
  /* Align text to the left */
  color: #000;
}

.vote-team .p-title {
  font-size: 32px;
}

.vote-team {
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2) !important;
  padding: 25px !important;
  border-radius: 25px !important;
}

.vote-team .blog-slider__button:hover {
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.vote-team img {
  height: 50px;
}

.go_top.show_go_top {
  opacity: 1;
  visibility: visible;
}

@keyframes bb_bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.text-primary {
  color: #FA311F !important;
}

h2.hero-text-style-2 {
  /* margin-left: -5.5vw; */
}

.blog-slider__button {
  cursor: pointer;
}

.hero-section .hero-text-style-1,
.hero-section .hero-text-style-2 {
  margin-top: 0;
}

.hero-text-style-2 {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-weight: 500 !important;
  line-height: .925 !important;
  text-transform: uppercase;
  letter-spacing: 0;
}

.hero-text-box {
  margin-top: 20%;
  /* margin-left: 5.5vw; */
}

.hero-section .hero-text-style-1,
.hero-section .hero-text-style-2 {
  margin-top: 0;
}

.hero-text-box-bottom {
  display: flex;
  align-items: flex-start;
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
  background: #e10613;
  border-left: 7px solid var(--color-1st);
  border-bottom: 7px solid var(--color-1st);
}

.u-section-1 .u-text-1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.header-wrap .nav-top {

  background-color: var(--color-1st);
}

.u-section-1 .u-group-1 {
  width: 674px;
  min-height: 173px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

ul.menu.sub-menu--slideLeft {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 600;
  margin: 40px 570px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 466px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px 0;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 19.23% 39.48%;
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-group-1 {
    width: 607px;
    min-height: 162px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 399px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 52.71% 54.59%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 58.36% 57.11%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-group-1 {
    width: 480px;
    min-height: 130px;
    margin-top: 265px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-group-1 {
    min-height: 186px;
    margin-top: 243px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 763px;
}

.u-section-2 .u-group-1 {
  width: 790px;
  min-height: 284px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 30px 0 0;
}

.u-section-2 .u-list-1 {
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 15px));
  min-height: 274px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.vote-btn {
  margin: 0 auto !important;
  padding: 6px 18px !important;
  border-radius: 8px !important;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 20px;
  background: #f2f2f2;
}

.u-section-2 .u-icon-1 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 20px;
}

.u-section-2 .u-icon-2 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.u-section-2 .u-container-layout-4 {
  padding: 25px 20px;
}

.u-section-2 .u-icon-3 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.u-section-2 .u-container-layout-5 {
  padding: 25px 20px;
}

.u-section-2 .u-icon-4 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.Shop-title.center span{
  color: #231f20!important;
  font-size:18px!important;
  margin-left: 5px!important;
}
.Shop-title.center a{
line-height: 40px;
}



@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 730px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}

.u-section-3 {
  min-height: 859px;
}

.u-section-3 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -285px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 377px;
  background-image: url("https://app.snipsbasketball.com/storage/general/387733601-18240166144239747-8244885066973916456-n.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

body .u-palette-5-dark-3 {
  background-color: #000;
}

.u-section-2 h2.u-text-1 {
  margin: 0;
  color: var(--color-1st);
}

.u-section-2 p.u-large-text.u-text.u-text-variant.u-text-2 {
  margin: 0;
  color: #fff;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 381px;
  background-image: url("https://app.snipsbasketball.com/storage/general/391745058-18241162480239747-3186500525571121561-n.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 374px;
  background-image: url("https://app.snipsbasketball.com/storage/general/395236549-18242281039239747-8776666491168435554-n.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 374px;
  background-image: url("https://staging.snipsbasketball.com/storage/general/386641649-18239569714239747-6257781889771325887-n.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1140px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 60px;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 221px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 264px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 17px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-repeater-1.teams {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1-news .team-item {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
}

.u-section-1-news .team-item img {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.u-section-1-news {
  background-color: #387cbd;
}

.news-container ul li:first-child span {
  margin-top: 15px;
  padding-top: 40px;
}

.news-container ul li:first-child::after {
  background: #fff;
}

#carousel_55e3 {
  padding-top: 80px;
}

body .news-container {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 99;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
  position: absolute;
  background: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4;

  /* Using shorthand notation */
  animation: scroll 35s infinite linear;

  /* Using longhand notation with iteration count */
  animation-name: scroll;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
  min-width: 150px;
}

.news-container ul li span {
  padding: 6px 12px;
}

/* .news-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
} */

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(80%);
  }

  to {
    transform: translateX(-1083px);

  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.popup-content {
  position: relative;
  min-width: 480px;
  background: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content img {
  width: auto;
  max-height: 200px;
}

.page-logo img {
  max-height: 66px;
}

.popup-content .title {}

.popup-content input {
  text-align: center;
  color: #000;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-content .btn.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn.submit {
  color: #ffffff !important;
  background-color: #478ac9 !important;

  text-transform: uppercase;
  font-weight: 700;
}

.message {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.success {
  background-color: #4caf50;
  /* Green background */
}

.error {
  background-color: #f44336;
  /* Red background */
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 805px;
  }

  .u-section-3 .u-shape-1 {
    height: 303px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -230px;
  }

  .u-section-3 .u-image-1 {
    min-height: 311px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-3 .u-image-2 {
    min-height: 314px;
  }

  .u-section-3 .u-image-3 {
    min-height: 308px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-3 .u-image-4 {
    min-height: 308px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 321px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .blog-slider .blog-slider__item {
    display: inline-block;
    width: 31% !important;
  }

  .blog-slider {
    max-width: 100%;
    height: auto !important;
  }

  .u-section-3 {
    min-height: 1539px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-3 .u-image-2 {
    min-height: 481px;
  }

  .u-section-3 .u-image-3 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-3 .u-image-4 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  li.last {
    display: inline-block !important;
  }

  .page-footer .address {
    width: 100%;
  }

  .mobile {
    display: block;
  }

  .popup-content {
    position: relative;
    min-width: 350px;
  }

  .popup.voting h3.t-2 {
    font-size: 20px;
    padding-top: 22px;
  }

  .top-footer {
    padding-top: 40px;
    width: 100%;
  }

  .page-footer .logo-footer {
    display: block;
    width: 130px;
    vertical-align: top;
    margin: 0 auto;
  }

  .Download-container img {
    height: 70px;
  }

  .blog-slider__title {
    font-size: 16px !important;
  }

  .Download-logo span {
    font-size: 15px !important;
  }

  .Download-container .stores img {
    height: 30px;
  }

  .page-footer .address p {

    text-align: center;
  }

  .page-copyright ul li {

    display: block;
  }

  .blog-slider .blog-slider__item {
    display: inline-block;
    width: 48% !important;
  }

  body .result-team span {
    font-weight: 900;
    margin-left: 5px;
  }

  .main-logo-img {
    width: 45%;
  }

  .res-table {
    width: 55%;
    padding: 5px;
  }

  .hero-text-box h2 span {

    font-size: 26px;
    line-height: 28px;

  }

  .result-team span {
    font-weight: 900;
    margin-left: 5px;
  }

  .hero-section {
    position: relative;
    padding: 10px 0px 10px 20px;
  }

  .hero-text-box {
    margin-top: 20%;
    margin-left: 5.5vw;
  }

  .hero-text-box h3 {
    color: #ffffff;
    font-size: 26px;
  }

  .result-table td {
    height: 33px !important;
  }

  .result-table td .bar-fill {
    height: 77% !important;
  }

  .u-section-3 {
    min-height: 3155px;
  }

  .page-logo img {
    max-height: 44px;
  }

  .news-container .title {
    padding: 0 10px;
  }

  .page-logo span {
    margin-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 714px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 722px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 708px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 708px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2146px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-3 .u-image-2 {
    min-height: 455px;
  }

  .u-section-3 .u-image-3 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-3 .u-image-4 {
    min-height: 446px;
  }

  .Shop-title.center span {
    font-size: 16px !important;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
  }
}